@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


 /*  Banner  */
*{
    margin: 0;
}
.banner {
    width: 100%;
    height: 150vh;
    position: relative;
    overflow: hidden;
}
#slideimg{
    width: 100%;
    height: 750px;
    animation: zoom 3s linear infinite;
}

.overlay{
    width: 100%;
    height: 150vh;
   /* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));*/
    position: absolute;
    top: 0;
}

.content {
    width: 60%;
    margin:50px 0px 0px 30px;
    text-align: left;
    color: rgb(0, 0, 0);
}

.content h1{
    font-size: 60px;
    color: rgb(216, 216, 216);
}

.content p{
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 10px;
    width: 60%;
    color: #fff;

}
.btn-1 a{
    font-size: 1.2rem;
    font-weight: bold;
    color:white;
    text-decoration: none;
}

button.btn-1{
    background: rgba(13, 13, 13, 0.829);
    width: 200px;
    padding: 15px;
    text-align: center;
    margin:10px 0px 0px 0px;
    border-radius: 10px;
    /* font-weight: bold; */
    border: 2px solid transparent;
    cursor: pointer;
    transition: background 0.5s ;
    margin-top: 10%;
    color: black;
}

/* Hover Effect for Button */
button.btn-1:hover{
    background-color: #24242b;
    border : 2px solid rgba(255, 255, 255, 0.167);
    color: #fff;
}

  /*  Banner  */

  .body-info .container{
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 50px;
    margin-top: -10%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    /* background: rgba(114, 6, 6, 0.678); */
}

.aboutus h2{
    font-size: 3.5rem;
    text-align: center;
    margin: 5vh 0;
}

.content-body{
    margin:0 10rem 2rem 10rem  ;
    padding: 5rem;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(3, 145, 126, 0.219);	
    backdrop-filter: blur(10px);
    line-height: 4rem;
    color: rgb(5, 58, 81);
}
.mission h3{
    font-size: 2.2rem;
    text-align: center;
    margin: 10rem 0 5rem 0;
}
.mission p {
    text-align: center;
  
}
.vision h3{
    font-size: 2.2rem;
    text-align: center;
    margin: 10rem 0 5rem 0;
}
.vision p{
    text-align: center;
}
