/* Login Form Section Main CSS */
#login{
    margin: 0;
    padding: 0;
    background: url(../Images/loginhere.jpg) no-repeat;
    background-size: cover;
    background-position: right;
    height: 100%;
    width: 100vw;
    
}

/* Login Form CSS */
.loginbox{
    width: 350px;
    height: 70%;
    background: #000;
    color: #fff;
    top: 50%;
    left: 20%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 5%;
    opacity: 0.8;
    
}

/* Avater Setup CSS */
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    background-color: #fff;
}

/* Form h1 Heading Styles */
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

/* Form Paragrph text decoration */
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

/* Form Input Field Sizing */
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

/* Form Input Types CSS */
.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

/*Submit Button Style */
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

/* Submit button hover Effect */

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

/* Anchor Style - (Having trouble Login In?) */
.loginbox a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    color: #1c8adb;
}

/* Set Color to Anchor hover effect */
.loginbox a:hover
{
    color: #39dc79;
}

/* Background Banner */

.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}



.overlay{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    position: absolute;
    top: 0;
}

.content{
    width: 60%;
    margin:20px 0px 50px 300px;
    text-align: right;
    color: #fff;
}

.content h1{
    font-size: 20px;
    
}

button{
    background: #fff;
    width: 200px;
    padding: 15px;
    text-align: center;
    margin: 20px auto;
    /* border-radius: 20px; */
    /* font-weight: bold; */
    border: 2px solid transparent;
    cursor: pointer;
    transition: background 0.5s ;
}

/* Hover Effect for Button */
button:hover{
    background: transparent;
    border : 2px solid rgba(255, 255, 255, 0.441);
    color: #fff;
    


}




