/* Import google fonts CDN */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



:root{
    --color-1:#24262b;/*Header and footer main Color*/
	--color-2:#444445;/*Header and footer secondary Color*/
	--color-3:#7D80DA;/*Header and footer tertiary Color*/
}

.content h2{
	font-size: 2.5rem;
	color: var(--color-1);
	position: top;
	
}

/*---  POST ---*/

.blog-post{
    background-color: white;
	display: flex;
	flex-direction: row;
	margin: 5rem 5rem 2rem 5rem;
	justify-content: left;
     /*box-shadow: 0px 0px 1px 5px rgba(0,0,0,0.1);  */
	 border-radius: 10px;
	 box-shadow: 0 10px 10px 0 rgba(0,0,0,0.097);	
	 backdrop-filter: blur(10px);
	 border-top: 0.2rem solid rgba(0, 0, 0, 0.062);
}

.blog-post img{
	position: relative;
	padding: 2rem 0rem 2rem 2rem;
	width: 25vw;
	height: 100%;
	object-fit: cover;
	transform: translate(-50px);
}


.blog-post-info
{
	position:relative;
	margin: 30px 0 0 20px;

}

.blog-post-title h2{
	color: black;
	text-transform: uppercase;
	text-align: left;
	margin:0;
}

.blog-post-date span {
	color: #444445;
	margin-bottom: 20px;
}

.blog-post-description p{

	color: black;
	font-size: 1rem;
	margin: 10px 20px 10px 0;
}

.blog-post-read-more a{
	position: absolute;
	cursor: pointer;
	font-style: normal;
	border-radius: 0.3rem;
	padding: 0.5rem 1rem 0.5rem;
	margin: 10px 0 0 0;
	border-radius: 100px;
	background-color: #444445;
	border:1px solid #444445;
	color: #83c821;
	box-shadow: 0 0.05em 0.1em 0 rgba(0,0,0,0.25);
	text-decoration: none;
}


.blog-post-read-more a:hover{
	background-color: #4a0051;
	color: aliceblue;
	border:1px solid rgb(90, 0, 66);
	transition: 0.5s;
	text-decoration: none;
}
/*---  POST ---*/


/* Cards Offers  */

.container-card{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card{
	height: 290px;
	width: 350px;
	margin:0 20px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.card .img img{
	height: 50%;
	width: 50%;
	object-fit: cover;
}



/* Cards Offers  */


/* Help Bar CSS */

#how-we-can-help{
	background-color: #04040b30;
	height: 180px;
	width: 100%;
	padding: 1vh 0 10vh 0;
	margin:0 ;
	align-items: center;
}

.rows{
	height: 10vh;
	position: relative;
	margin: 2rem 15rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: black;
	text-decoration: none;
}
.rowhead{
	position: relative;
	justify-content: center;
	display: flex;
	flex-direction: row;
}
.rowhead h2{
	font-size: 2rem;
	color: var(--color-1);
	margin-top: 1vh;
	position: relative;
	
}
.box{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.box img{
	width: 60px;
	height: 60px;
}
.box a{
	text-decoration: none;
	color: #4a0051;
}

