/* Import google fonts CDN */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



:root{
    --color-1:#24262b;/*Header and footer main Color*/
	--color-2:#444445;/*Header and footer secondary Color*/
	--color-3:#7D80DA;
}

.content h2{
	font-size: 2.5rem;
	color: var(--color-1);
	position: top;
	
}

/* Help Bar CSS */

#how-we-can-help{
	background-color: #04040b30;
	height: 180px;
	width: auto;
	padding: 10px 10px;
	margin: 0 auto;
}

.row h2{
	font-size: 2.5rem;
	color: var(--color-1);
	
	
	
	
}