:root

{
    --primary: rgba(255, 255, 255, 0);
    --secondary: rgba(255,255,255.5)
}
.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

#slideimg{
    width: 100%;
    height: 100vh;
    animation: zoom 3s linear infinite;
}

.overlay{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    position: absolute;
    top: 0;
}

.content{
    width: 60%;
    margin:50px 0px 0px 30px;
    text-align: left;
    color: #fff;
}

.content h1{
    font-size: 60px;
    color: white;
    
}

.content p{
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 5px;
    color: aqua;
}

button{
    background: #fff;
    width: 200px;
    padding: 15px;
    margin-top: 5%;
    text-align: center;
    margin:0px 0px 0px 0px;
    border-radius: 200px;
    font-weight: bold;
    color: #24262b;
    border: 2px solid transparent;
    cursor: pointer;
    transition: background 1s ;
}
button:hover{
    background: transparent;
    border : 2px solid rgba(255, 255, 255, 0.441);
    color: white;
    font-style: none;
}

 /* Personal Banking Services  */

/* Account Types Cards*/





.account-types-cards{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    /* color:#333; */
    position: relative;
    width: 80%;
    height: 20%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5% 10% 5% 10%;
    border-radius: 10px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
    background-color: rgba(255,255,255,0.1);
    overflow: hidden;
    border-top: 10px solid rgba(110, 107, 107, 0.01);
    border-left: 1px solid rgba(2, 1, 21, 0.01);
    backdrop-filter: blur(10px);

}
body{
    background-color: #ffffff;
}



a{
    text-decoration: none;
    color: inherit;
}

.card{
    display: flex;
    flex-direction: column;
    box-sizing: 2px .8rem 1rem rba(0,0,0,0.05);
}

.image-data{
    width: 400px;
    display: flex;
    height: 20rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-right: 20PX;
    
}
#cardimg{
    width: 400px;
    height: 400px;
    position: absolute;
   justify-content: center;
}
.background-image{
    width: 600px;
    height: 400px;
    position: absolute;
    top: 0;
    left:0;
   /* background: url('../Images/img.jpg') center no-repeat;*/
    background-size: cover;
    /* z-index: -1; */
    transition:transform 3s;
}

.card:hover .background-image{
    transform:scale(1.5);
    
}

.publication-details{
    /* width: 100%;
    height: 100%;
    background: var(--greadient-color); */
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
}

.author{
    display: inline-block;
    margin-bottom: .5rem;
    transition: all .5s;
}

.author:hover{
    color:rgba(255,255,255,75)
}

.date{
    display: block;
}

.post-date{
    background-color: #fff;
    padding: 2rem 3rem;
    position: relative;
}

.title{
    font-size: 3rem;
    color: #24262b;
    line-height: 10px;
    margin-left: 50px;
}

.subtitle{
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #a2a2a2;
    margin:0 0 10px 50px;
    line-height: 1;
}

.description{
    font-size:0.9rem;
    position: relative;
    margin: 20px 50px 0 70px;
    text-align: left;
    color: #24262b;
}

.description::first-letter{
    margin-left: 1rem;
    font-size: 1.1rem;;
}

.description::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: .5rem;
    height: 2.5rem;
    border-radius: 2rem;
}

.cta{
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
}


.cta a{
    color: transparent;
    position: relative;
    color: rgb(52, 30, 30);
}

.cta a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom:-.5rem;
    width: 100%;
    height: 3px;
    background: var(--greadient-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

.cta a:hover::before{
    transform: scaleX(1);
}

 @media screen and (max-width: 600px){
    .card{
        flex-direction: row;
        max-height: 75rem;
    }
    .image-data{
        flex-basis: 40%;
        height: unset;
    }

    .publication-details{
        transform: translateX(-100%);
        transition: transform .5s;
    }

    .card:hover .publication-details{
        transform: translateX(0);
    }

    .post-data{
        flex-basis: 60%;
    }

} 
    

/* Account Types Cards*/



/* Account Types Cards*/




  /* Personal Banking Services  */

  /* Complaint Form */

.contact-form{
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(240, 248, 255, 0.675);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.form-header{
    width: 100%;
    height: auto;
    margin: 5px 0px 5px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(240, 248, 255, 0.675);
    
}

.form-description{
    width: 100%;
    height: auto;
    margin: 5px 0px 5px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.form-body  td{
    padding: 10px;
}

.form-body input[type="text"],input[type="email"],select{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px 0px 5px 0px;
}

/* Complaint Form */